@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Style 4
/*----------------------------------------*/


.tp-header-4{
    &-area{
        &.header-sticky{
            background-color: rgba(25, 25, 26, 0.85);
            & .tp-header-4-menu > nav > ul > li > a {
                padding: 32px 0;
            }
        }
    }
    &-mob-space{
        @media #{$lg,$md,$xs}{
            padding: 15px 0;
        }
    }
    &-bar{
        height: 44px;
        width: 44px;
        line-height: 44px;
        font-size: 20px;
        text-align: center;
        display: inline-block;
        color: var(--tp-common-white);
        border: 1px solid var(--tp-common-white);
        transition: .3s;
        &:hover{
            background-color: var(--tp-common-white);
            color: var(--tp-common-black);
        }
    }
    &-menu{
        & > nav{
            & > ul{
                & > li{
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 45px;
                    @media #{$xl}{
                        margin-right: 35px;
                    }
                    @media #{$lg}{
                        margin-right: 25px;
                    }
                    & > a{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1;
                        padding: 43px 0;
                        display: inline-block;
                        text-transform: uppercase;
                        color: var(--tp-common-white);
                    }
                }
            }
        }
    }
    &-btn{
        line-height: 0;
    }
}

#header-sticky {
    background: linear-gradient(90deg, #6b442d 0%, #41342c 54%, #2b2b2b 100%);
}

@media (max-width:1199px) {
    .parentslider_Inner {
        max-width: 1000px !important;
    }
    .tp-hero-3-title {
        font-size: 90px !important;
    }
    .tp-gallery-shape-1 {
      top: 240px !important;
    }
    .tp-section-title-200 {
        font-size: 100px;
    }
    .tp-hero-3-area {
        padding-top: 125px !important;
    }
}

@media (max-width:991px) { 
        .parentslider_Inner {
        max-width: 800px !important;
    }
    .tp-hero-3-title {
        font-size: 75px !important;
    }
    .tp-hero-3-content-box .tp-reveal-line {
            padding-bottom: 5px;
    }
    .tp-gallery-shape-1 {
      top: 220px !important;
    }
    .tp-mission-thumb .tp-about-3-shape img {
        top: -142px !important;
        left: 170px !important;
    }
}
@media (max-width:767px) { 
        .tp-portfolio-9-title {
        font-size: 45px !important; 
    }
}
@media (max-width:476px) { 
    .tp-header-mob-space {
        padding: 5px 0;
    }
    .tp-hero-3-circle-shape span {
        width: 200px !important;
        height: 200px !important;
    }
      .parentslider_Inner {
        max-width: 400px !important;
    }
        .tp-hero-3-title {
        font-size: 52px !important;
    }
    .tp-hero-3-category {
        font-size: 15px !important;
    }
    .tp-hero-3-area {
            max-width: 400px;
            margin: 0 auto;
    }
    .tp-section-title-200 {
        font-size: 65px;
    }
    .tp-gallery-shape-2 {
            bottom: 142px !important;
    }
    .tp-about-3-area .tp-about-3-shape img {
        top: -70px;
    width: 25%;
    right: 42px;
    }
     .tp-mission-thumb .tp-about-3-shape img {
        top: -110px !important;
        left: 170px !important;
        width: 26% !important;
    }
    .tp-gallery-shape-1 {
        top: 274px !important;
    }
    .tp-portfolio-9-area h1 {
        font-size: 42px !important;
    }
    .tp-mission-thumb {
        height: auto !important;
    }
    .tp-mission-thumb img {
        width: 50% !important;
    }
    .tm-hero-title-big {
                font-size: 60px;
                letter-spacing: .2px;
    }
    .imgChanger {
        display: none;
    }
    .tm-hero-title-big {
        font-size: 62px !important;
        letter-spacing: .1px !important;
    }
    .tp-footer-3-area {
        padding: 2rem 0;
    }
    .tp-footer-3-logo {
        margin-bottom: 0 !important;
    }
    .tm-hero-ptb {
        padding-bottom: 0 !important;
    }
    .tp-mission-area {
        padding: 1rem 0;
        margin-bottom: 3rem;
    }
    .tp-footer-3-logo-box {
        padding: 2rem 0 ;
    }
    .tp-footer-3-logo-box .mb-100 {
        margin-bottom: 20px;
    }
}
@media (max-width:399px) {  
    .tp-hero-3-area {
            max-width: 300px !important;
            margin: 0 auto;
    }
    
    .tp-hero-3-title {
        font-size: 40px !important;
        letter-spacing: -3.5px !important;
    }
    .tp-btn-black-2 {
        padding: 1px 10px;
    }
        .tp-portfolio-9-area h1 {
        font-size: 28px !important;
    }
}